spring:
  datasource:
    url: jdbc:mysql://localhost:3306/delivery-go?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  kafka:
    bootstrap-servers: "localhost:9092"
  jpa:
    hibernate:
      ddl-auto: update  # (옵션: create, update, validate, none)
    show-sql: true      # SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true  # SQL 예쁘게 출력
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    org.deliverygo.login.kafka: debug

